<!-- hero-section -->
<div class="hero-section fl-wrap">
    <div class="hero-section_bg fl-wrap">
        <div class="bg" data-bg="~/endor.kwst.net/images/bg/3.jpg"></div>
        <div class="overlay"></div>
        <div class="hero-sec_anim"></div>
    </div>
    <div class="hero-section_title fl-wrap" id="sec1">
        <h2>Our Stories</h2>
    </div>
</div>
<!-- hero-section end-->