
<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Aydın Photography - Yaratıcı Fotoğraf Portfolyo</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->

    <link type="text/css" rel="stylesheet" href="~/endor.kwst.net/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="~/endor.kwst.net/css/style.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="~/endor.kwst.net/images/favicon.ico">



  
</head>
<body>
    <!--main-loader  -->
    <div class="main-loader">
        <div class="ml-wrap">
            <div class="ml-mask"></div>
            <img src="~/endor.kwst.net/images/logo.png" alt="">
        </div>
    </div>
    <!-- main-loader end -->
    <!-- main  -->
    <div id="main">
        <!--  logo -->
        <a href="index.html" class="ajax logo-holder"><img src="~/endor.kwst.net/images/logo.png" alt=""></a>
        <!--  logo end -->
        <!--  navigation -->
        <!-- wrapper-->
        <div id="wrapper">
            <!--  content-holder -->
            <div class="content-holder hide_footer2">
                <div class="header-bg hb_mob"></div>
                <div class="filter-btn hid-filter">
                    <div class="filter-btn_container aside_anim"></div>
                    <span class="filt-title">Filtrele</span>
                </div>
                <!-- gallery-filters-wrap-->
                <div class="gallery-filters-wrap">
                    <div class="gallery-filters">
                        <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*"><span>01.</span>Tüm Albümler</a>
                        <a href="#" class="gallery-filter" data-filter=".nature"><span>02.</span>Doğal</a>
                        <a href="#" class="gallery-filter" data-filter=".models"><span>03.</span>Model</a>
                        <a href="#" class="gallery-filter" data-filter=".couples"><span>04.</span>Sevgili</a>
                        <a href="#" class="gallery-filter" data-filter=".outdoor"><span>05.</span>Dış Mekan</a>
                        <div class="count-folio">
                            <div class="num-album"></div>
                        </div>
                    </div>
                    <div class="gallery-filters-overlay"></div>
                </div>
                <!--gallery-filters-wrap end-->
                <!--  hero-showcase-wrap -->
                @RenderBody()
                <!--  hero-showcase-wrap end -->
                <div class="mob-footer_gal mfg-2 fl-wrap">
                    <div class="to-top-btn"><i class="fal fa-angle-up"></i></div>
                </div>
                <!-- share-wrapper-->
                <div class="share-wrapper">
                    <div class="share-container isShare"></div>
                </div>
                <!-- share-wrapper  end -->
            </div>
            <!--  content-holder end -->
        </div>
        <!-- wrapper end-->
        <!--  social_links -->
        <div class="social_links">
            <div class="sc-links_clone">
                <span>Takip:</span>
                <ul>
                    <li><a href="#" target="_blank">Fb</a></li>
                    <li><a href="#" target="_blank">İns</a></li>
                    <li><a href="#" target="_blank">Tw</a></li>
                    <li><a href="#" target="_blank">Vk</a></li>
                </ul>
            </div>
        </div>
        <!--  social_links end -->
        <!--  policy-box -->
        <div class="policy-box">
            <span>&#169; Aydın 2021  -  Tüm Hakları Saklıdır </span>
        </div>
        <!--  policy-box end-->
        <!-- cursor-->
        <div class="element">
            <div class="element-item"></div>
        </div>
        <!-- cursor end-->
    </div>
    <!-- Main end -->


    =============== scripts  ===============
    <script src="~/endor.kwst.net/js/jquery.min.js"></script>
    <script src="~/endor.kwst.net/js/plugins.js"></script>
    <script src="~/endor.kwst.net/js/scripts.js"></script>



</body>

<!-- Mirrored from endor.kwst.net/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Feb 2022 11:55:30 GMT -->
</html>